$breakpoint-tablet: 1024px;

.Graph {
  margin-left: 16.58em;
  margin-top: 15em;
  width: 73em;
  height: 100vh;

  @media (max-width: $breakpoint-tablet) {
    margin: 0;
    margin-top: 17em;

    .Graph-component {
      width: 100%;
    }
  }

  .Graph-component {
    width: 64.6em;
    height: 18.63em;
    border-radius: 0.63em;
    border: 0.06em solid #ecebf5;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 1.5em 1em;

    .line-chart {
      width: 48em;

      .react-apex-chart {
        margin: 0em 0.67em;
      }

      .graph-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 47.82em;
        height: 2.38em;
        margin: 0em 0.99em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        margin-top: 15px;

        .graph-heading-text {
          height: 1.75em;
          width: 18.94em;

          .graph-text {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 18.3em;
            height: 1.63em;
            font-size: 1.13rem;
            // border: 1px solid black;
            margin-left: 0.2em;
          }

          .graph-percentage {
            width: 4.2em;
            height: 1.4em;
            font-size: 0.99rem;
            border-radius: 0.25em;
            background-color: rgba(37, 187, 135, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #25bb87;
            margin-left: 0.8em;
          }
        }

        .graph-header-content {
          width: 15.5em;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .graph-priority {
            font-size: 0.88em;
            width: 6.2em;
            height: 1.78em;
            font-weight: 600;
            font-size: 0.88rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: black;
          }

          .graph-date-picker {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 9.25em;
            height: 2.38em;
            border-radius: 0.63em;
            border: 1px solid #e1e1eb;
            box-sizing: border-box;
            font-weight: 400;
            color: black;
            font-size: 0.88rem;
          }
        }
      }
    }

    .Graph-aside {
      width: 14.63em;
      height: 18.58em;
      border-left: 0.06em solid #ecebf5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .card-1 {
        width: 10.69em;
        height: 116px;
        border-radius: 10px;
        font-size: 1.13rem;
        display: flex;
        flex-flow: column;
        border: 0.06em solid #ecebf5;
        background-color: #fafafa;
        margin-top: 0px;
        padding: 20px;

        .card-title {
          width: 10.81em;
          height: 1.38em;
          font-size: 0.88rem;
          color: #696d8c;
          font-weight: 400;
          margin-top: 10px;
        }

        .time {
          width: auto !important;
          height: 2em;
          font-size: 1.25em;
          font-weight: 600;
          margin-top: 8px;
        }
      }
      .card-2 {
        width: 10.69em;
        height: 116px;
        border-radius: 10px;
        font-size: 1.13rem;
        display: flex;
        flex-flow: column;
        border: 0.06em solid #ecebf5;
        background-color: #fafafa;
        margin-top: 15px;
        padding: 20px;

        .card-title {
          width: 9.81em;
          height: 1.38em;
          font-size: 0.88rem;
          color: #696d8c;
          font-weight: 400;
          margin-top: 10px;
        }

        .time {
          width: auto !important;
          height: 2em;
          font-size: 1.25em;
          font-weight: 600;
          margin-top: 8px;
        }
      }
    }
  }
}
