.Graph {
  margin-left: 16.28em;
  margin-top: 16em;
  width: 73.63em;
  height: 100vh;


  .Graph-component {
    width: 63.63em;
    height: 15.63em;
    border-radius: 0.63em;
    border: 1px solid #ecebf5;
    box-sizing: border-box;
    margin: 0.75em 2.5em;
  }
}
