.side-nav {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 18vw;
  height: 100%;
  border-right: 0.06em solid #ecebf5;
  display: block;

  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    .card {
      width: 13.81rem;
      height: 3.75rem;
      background: #ffffff;
      border: 0.06em solid #ecebf5;
      box-sizing: border-box;
      border-radius: 0.5rem;
      margin-top: 21px;
      line-height: 1.25rem;

      .card-text {
        min-width: 100%;
        min-height: 100%;
        line-height: 1.2rem;

        .text-style {
          width: 11.63em;
          height: auto;
          margin-top: 10px;
          margin-left: 4.5em;
          font-weight: 400;
          font-size: 0.75rem;
          color: #696d8c;

          #Gelion-bold {
            font-size: 0.88rem;
            color: #060213;
          }
        }
      }
    }
  }

  .nav-list {
    display: block;
    height: 1.56em;

    .drop-down-container {
      display: none;
    }

    .nav-list-container {
      display: flex;
      align-items: center;
      flex-direction: flex-start;
      padding: 20px;
      width: auto;
      height: 1.56em;
      margin-bottom: 1em;
      cursor: pointer;
      font-size: 1rem;

      .list-dropdown {
        margin-left: 0.7em;
      }

      .list-icon {
        display: flex;
        width: 10.19em;
        height: 1.5em;

        .list-text {
          margin-left: 1.13em;
          width: 7.06em;
          color: #696d8c;
          font-size: 1em;
        }

        .image-icon {
          width: 1.13em;
          height: 1.13em;
        }
      }
    }
  }
}
