* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

input:invalid {
  animation: shake 300ms;
}

@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translate(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

body {
  background-color: #fff;
  font-family: "Gelion";
  font-style: normal;
  overflow-x: hidden;
}
